:root {
  --heatmap-colors: #df60ff, #759cff, #72fff8, #fff27c;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  padding: 0px;
  outline: 1px solid #ebebeb;
  min-width: 80px;
  background-color: white;
}
.table-cell,
.controls {
  cursor: pointer;
}
.table-cell:hover {
  background-color: #e0e0e0;
}
thead th,
tfoot td,
.controls {
  background-color: #f0f0f0;
}
.highlighted {
  background-color: #5ef09d;
}
.controls:hover {
  background-color: #ff9999;
}

.table-cell .value {
  display: inline;
}
.table-cell .percent {
  display: none;
}

.heatmap-cell .value {
  display: none;
}
.heatmap-cell .percent {
  display: inline;
}
